#screen-creation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

#screen-creation-place {
  cursor: pointer;
}

#screen-creation-cancel {
  cursor: pointer;
}
